.con{
    align-items: center;
    justify-content: space-around;
    
}
.sss{justify-content: center;
    display: flex;
}
.button{
    padding: 20px;
    display: flex;
}
.btn{
    margin: 10px 10px 10px 0;
}
.table{justify-content: center;
    align-items: center;
    max-width: 900px;
}
.table-container {
    display: flex;
    justify-content: center;
}
